<template lang="html">
  <div class="w-full z-30">
    <div class="w-full rounded-lg py-10 text-white bg-white">
      <div class="uppercase w-full font-bold text-center text-title text-primary">Gráfico de Barras</div>
      <div class="uppercase w-full text-center text-subtitle text-primary">Resultados de la evaluación</div>
      <GChart
        type="ColumnChart"
        :data="chartData"
        :options="chartOptions"
        class=""
        style="height: 60vh"
      />
    </div>
  </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
import { mapState } from 'vuex'
export default {
  components: {
    GChart
  },
  data () {
    return {
      chartOptions: {
        chart: {
          title: 'Results',
          subtitle: 'Crimes'
        }
      }
    }
  },
  computed: {
    ...mapState({
      chartData: s => s.chartdata
    })
  }
}
</script>

<style lang="css">
</style>
