<template lang="html">
  <div class="w-full z-30 relative section-custom" style="">
    <div :class="transitionenter" class="absolute pin w-full h-full bg-main z-30"></div>
    <div v-if="results.length !==0" class="w-full">
      <div class="uppercase text-title font-bold text-center mb-10">Resultados</div>
      <div class="w-full lg:flex mb-8">
        <div class="w-full lg:w-1/3 p-3 overflow-hidden" style="height: 50vh">
          <div class="w-full bg-cover bg-transparent img-crime relative overflow-hidden" :style="`background-image: url(${'/images/crimes/' + results[0].crimeId + '.jpeg'})`" style="height: 90%; background-position: 50% 50%; border-radius: 5px">
            <div class="absolute giant-text pin-b pin-l">{{(results[0].output * 100).toPrecision(3)}}%</div>
          </div>
          <div class="w-full text-center mt-6 font-bold text-responsive">
            <div v-if="results[0].crimeId == item.id" v-for="item in crimes" :key="item.key">
              {{item.name}}
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/3 p-10 overflow-hidden" style="height: 50vh">
          <div class="w-full bg-cover bg-transparent img-crime relative overflow-hidden" :style="`background-image: url(${'/images/crimes/' + results[1].crimeId + '.jpeg'})`" style="height: 90%; background-position: 50% 50%; border-radius: 5px">
            <div class="absolute giant-text2 pin-b pin-l">{{(results[1].output * 100).toPrecision(3)}}%</div>
          </div>
          <div class="w-full text-center mt-5 font-bold text-responsive">
            <div v-if="results[1].crimeId == item.id" v-for="item in crimes" :key="item.key">
              {{item.name}}
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/3 p-16 overflow-hidden" style="height: 50vh">
          <div class="w-full bg-cover bg-transparent img-crime relative overflow-hidden" :style="`background-image: url(${'/images/crimes/' + results[2].crimeId + '.jpeg'})`" style="height: 90%; background-position: 50% 50%; border-radius: 5px">
            <div class="absolute giant-text3 pin-b pin-l">{{(results[2].output * 100).toPrecision(3)}}%</div>
          </div>
          <div class="w-full text-center mt-4 font-bold text-responsive">
            <div v-if="results[2].crimeId == item.id" v-for="item in crimes" :key="item.key">
              {{item.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex">
        <div class="w-full bg-white text-black text-responsive p-4">
          <div v-for="(elem, i) in results" :key="elem.key" class="list-reset">
            <div v-if="elem.crimeId == item.id" v-for="item in crimes" :key="item.key">
              {{i+1}}: {{item.name}} | <span class="font-bold">{{(elem.output * 100).toPrecision(4)}}%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full text-center mt-10">
        <button  @click="goTo()" class="uppercase bounce text-white py-6 px-8 spacing text-subtitle font-bold bg-transparent btn-send">
          Realizar otra predicción
        </button>
        <div class="my-8 seeChart text-responsive" @click="activechart()">
          Ver gráfica
        </div>
      </div>
    </div>

    <div v-if="chart" class="absolute pin w-full h-full" style="background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); height: 100%" @click="chartDisable()"></div>
    <div :class="chartTransition" class="w-full fixed pin-b pin-r pin-l flex-center section-custom" style="height: 100vh">
      <div class="absolute pin-b pin-r pin-l w-full" style="height: 100vh" @click="chartDisable()"></div>
      <Chart/>
    </div>

  </div>

</template>

<script>
import { GChart } from 'vue-google-charts'
import Chart from '~/components/Chart'
import { mapState } from 'vuex'
export default {
  components: {
    GChart, Chart
  },
  data () {
    return {
      chart: false,
      transitionenter: 'invisible out',
      chartTransition: 'cero'
    }
  },
  computed: {
    ...mapState({
      results: s => s.results,
      crimes: s => s.crimes
    })
  },
  methods: {
    async goTo () {
      this.transitionenter = 'in'
      await wait(100)
      window.location.reload()
    },
    activechart () {
      this.chart = true
      this.chartTransition = 'expand'
      document.getElementById('resultsdiv').style.overflow = 'hidden'
      document.getElementById('resultsdiv').style.height = '100vh'
      // disableScroll()
    },
    chartDisable () {
      this.chart = false
      this.chartTransition = 'cero'
      document.getElementById('resultsdiv').style.overflow = 'visible'
      document.getElementById('resultsdiv').style.height = 'auto'
      // enableScroll()
    }
  }
}
function wait (n) {
  return new Promise(function (resolve, reject) {
    setTimeout(() => {
      resolve()
    }, n)
  })
}
// var keys = [32, 33, 34, 35, 36, 37, 38, 39, 40]
//
// function preventDefault (e) {
//   e = e || window.event
//   if (e.preventDefault) {
//     e.preventDefault()
//   }
//   e.returnValue = false
// }
//
// function keydown (e) {
//   for (var i = keys.length; i--;) {
//     if (e.keyCode === keys[i]) {
//       preventDefault(e)
//       return
//     }
//   }
// }
//
// function wheel (e) {
//   preventDefault(e)
// }
//
// function disableScroll () {
//   if (window.addEventListener) {
//     window.addEventListener('DOMMouseScroll', wheel, false)
//   }
//   window.onmousewheel = document.onmousewheel = wheel
//   document.onkeydown = keydown
//   disableScrollMobile()
// }
//
// function enableScroll () {
//   if (window.removeEventListener) {
//     window.removeEventListener('DOMMouseScroll', wheel, false)
//   }
//   window.onmousewheel = document.onmousewheel = document.onkeydown = null
//   enableScrollMobile()
// }

// MOBILE
// function disableScrollMobile () {
//   document.addEventListener('touchmove', preventDefault, false)
// }
//
// function enableScrollMobile () {
//   document.removeEventListener('touchmove', preventDefault, false)
// }
</script>

<style lang="css">
.invisible{
  opacity: 0
}
.out{
  transition: transform .5s;
  transform: translateX(-100%);
}
.in{
  opacity: 1;
  transition: transform .5s;
  transform: translateX(0);
}
.cero{
  transition: all .5s;
  transform: scale(0)
}
.expand{
  transition: all .5s;
  transform: scale(1)
}
.giant-text{
  font-size: 115px;
  line-height: .7;
  font-weight: bold;
  &:hover{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
.giant-text2{
  font-size: 90px;
  line-height: .7;
  font-weight: bold;
  &:hover{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
.giant-text3{
  font-size: 70px;
  line-height: .7;
  font-weight: bold;
  &:hover{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
.img-crime{
  transition: all 1s;
  &:hover{
    opacity: .5
  }
}
.btn-send{
  transition: all .5s;
  border: 2px solid white;
  &:hover{
    color: #042c7b;
    background: white
  }
}
.seeChart{
  transition: all .3;
  cursor: pointer;
  &:hover{
    transform: scale(1.1)
  }
}
</style>
