@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.bg-primary{
  background: white
}
.type-text{
font-family: 'Inconsolata', sans-serif;
}
.text-primary{
  color: #042c7b
}

.bg-main{
  background: #042c7b;
}

.border-main{
  border-color: #042c7b
}

.text-responsive{
  font-size: 15px;
  font-family: 'Inconsolata', sans-serif;
}

.title-portrait{
  font-size: 32px;
  letter-spacing: 1.5px;
  font-family: 'Inconsolata', sans-serif;
}
.text-title{
  font-size: 29px;
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 2.5px;
}

.text-subtitle{
  font-size: 24px;
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 2.5px;
}

.section-custom{
  padding: 5% 10%
}
.flex-center{
  display: flex;
  align-items: center;
}
.text-custom{
  color: #11374f
}
.text-spacing{
  letter-spacing: 1.3px
}
.spacing {
  letter-spacing: 2px;
}
@media (min-width: 1600px) {
  .text-responsive{
    font-size: 19px;
  }
  .title-portrait{
    font-size: 40px;
  }
  .text-title{
    font-size: 36px;
  }
  .text-subtitle{
    font-size: 26px;
  }
}

@media (max-width: 1200px) {
  .text-responsive{
    font-size: 21px;
  }
  .title-portrait{
    font-size: 36px;
  }
  .text-title{
    font-size: 24.5px;
  }
  .text-subtitle{
    font-size: 20.5px;
  }
}

@media (max-width: 960px) {
  .text-responsive{
    font-size: 18px;
  }
  .title-portrait{
    font-size: 33px;
  }
  .text-title{
    font-size: 21.5px;
  }
  .text-subtitle{
    font-size: 18.5px;
  }
}

@media (max-width: 640px) {
  .text-responsive{
    font-size: 15.5px;
  }
  .title-portrait{
    font-size: 19px;
  }
  .text-title{
    font-size: 20px;
  }
  .section-custom{
    padding: 5% 8%
  }
  .text-subtitle{
    font-size: 20.5px;
  }
}


.bounce {
 animation: bounce 2s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-20px);}
 60% {transform: translateY(-5px);}
}
