<template>
  <div class="relative font-sans bg-main text-black" style="background-image: url(images/bg-circuits.png); min-height: 100vh">
    <nuxt/>
  </div>
</template>

<script>
export default {
  components: {
  }
}
</script>

<style media="css">
/*html, body, #__nuxt, #__layout {
  height: 100%;
}*/
</style>
