<template>
  <div class="relative h-full flex items-center bg-primary text-white bg-center bg-cover" :style="{ backgroundImage: 'url()' }">
    <div class="absolute pin bg-primary"></div>
    <div class="relative container mx-auto px-2 text-center">
      <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl mb-4 text-black tracking-wide">
        {{ error.statusCode === 404 ? 'Página no encontrada :(' : 'Ocurrió un error' }}
      </h2>
      <nuxt-link to="/" class="inline-block no-underline bg-main text-white font-bold rounded px-8 py-4">Ir al inicio</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ['error']
}
</script>
<style lang="css" scoped>
</style>
