<template lang="html">
  <div class="h-full w-full absolute pin">

    <div class="absolute w-full h-full bg-main flex-center text-center justify-center" style="background-image: url(images/bg-circuits.png)">
      <div class="absolute pin w-full h-full" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%)"></div>
      <div v-if="this.$store.state.chartdata.length !== 0" class="w-full section-custom z-30">
        <div class="w-full rounded-lg py-10 text-white bg-white">
          <div class="uppercase w-full font-bold text-center text-title text-primary">Gráfico de Barras</div>
          <div class="uppercase w-full text-center text-subtitle text-primary">Resultados de la evaluación</div>
          <GChart
            type="ColumnChart"
            :data="chartData"
            :options="chartOptions"
            class=""
            style="height: 60vh"
          />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
import { mapState } from 'vuex'
export default {
  components: {
    GChart
  },
  data () {
    return {
      chartOptions: {
        chart: {
          title: 'Results',
          subtitle: 'Crimes'
        }
      }
    }
  },
  beforeMount () {
    if (this.$store.state.chartdata.length === 0) {
      this.$router.push('/predictor')
    }
  },
  computed: {
    ...mapState({
      chartData: s => s.chartdata
    })
  }
}
</script>

<style lang="css">
</style>
