<template lang="html">
  <div class="h-full w-full absolute pin" style="height: 100vh">
    <div :class="transitionenter" class="absolute w-full h-full bg-main z-30"></div>
    <div class="absolute w-full h-full flex-center text-center justify-center" style="">
      <div class="">
        <img src="images/service-chatbot.png" alt="">
        <div class="text-white font-bold text-spacing text-title p-3">
          <div id="fragment1" class="font-bold">Crime Predictor</div>
        </div>
        <div class="mt-10 uppercase flex justify-center text-white font-bold text-subtitle">
          <div @click="go()" class="no-underline text-white text-go flex-center justify-center">
            Go!
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      transitionenter: 'in'
    }
  },
  async mounted () {
    await wait(100)
    this.transitionenter = 'out'
  },
  methods: {
    async go () {
      this.transitionenter = 'in'
      await wait(500)
      this.$router.push('/predictor')
    }
  }
}
function wait (n) {
  return new Promise(function (resolve, reject) {
    setTimeout(() => {
      resolve()
    }, n)
  })
}
</script>

<style lang="css" scoped>
.out{
  transition: all .5s;
  transform: translateX(-100%);
}
.in{
  transition: all .5s;
  transform: translateX(0);
}
.text-go{
  transition: all .5s;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50px;
}

#fragment1 {
   width: 12em;
   white-space:nowrap;
   overflow:hidden;
   -webkit-animation: frag1type 9s steps(100, end) 0s ;
   animation: frag1type 9s steps(100, end) 0s ;
 }
 @keyframes frag1type{
   from { width: 0;}
   8%{width:12em;}
   25%{width:12em;}
 }

  .text-go{
    -webkit-animation: effect .7s  infinite;
    animation: effect .7s infinite;
  }
  @keyframes effect{
    from { transform: scale(1)}
    0%{transform: scale(1)}
    20%{transform: scale(1.1)}
    40%{transform: scale(1.2)}
    60%{transform: scale(1.2)}
    80%{transform: scale(1.1)}
    100%{transform: scale(1)}
  }

@media (max-width: 640px) {
}
</style>
