<template lang="html">
  <div class="text-black w-full h-full relative" style="min-height: 100vh">
    <div :class="transitionenter" class="absolute w-full h-full bg-main"></div>
    <div v-if="!modal" class="w-full rounded-lg p-4 flex-center justify-center" style="min-height: 100%">
      <form @submit.prevent="send" class="lg:px-16 md:px-8 px-4">
        <div class="w-full text-center text-title text-white my-8 spacing font-bold uppercase">Ingrese los siguientes datos</div>
        <div  v-for="(item, i) in content" :key="i" class="my-8 bg-main px-5 py-4 rounded-lg" style="background: linear-gradient(to bottom, rgba(4,44,123,0.6) 0%, rgba(4,44,123,0.6) 100%); border: 1px solid white">
          <div class="my-3">
            <span class="text-white text-responsive spacing font-bold">{{i+1}}. {{item.field}}</span>
          </div>
          <select v-if="item.type=='select'" v-model="form[i]" class="appearance-none text-spacing text-responsive border-white px-8 py-2 text-black  border w-full" required>
            <option v-for="toChose in item.options" :key="toChose.key" class="text-grey-darkest spacing" :value="toChose.value">{{toChose.label}}</option>
          </select>
          <input v-else type="number" min="0" max="100" v-model="form[i]" class="appearance-none text-responsive text-spacing border-white px-8 py-2 text-black  border w-full" required>
        </div>
        <div class="flex justify-center my-8 w-full text-center">
          <button class="uppercase text-white py-6 px-8 spacing text-subtitle font-bold bg-transparent btn-send">
            {{ submitting ? 'Procesando...' : 'Enviar' }}
          </button>
        </div>
      </form>
    </div>

    <div v-if="modal" class="absolute pin w-full h-full" style="background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); min-height: 100vh"></div>

    <div id="resultsdiv" :class="modaltransition" class="w-full pin text-white" style="">
      <Results/>
    </div>

  </div>
</template>

<script>
import Results from '~/components/Results'
import { mapState } from 'vuex'
export default {
  components: {
    Results
  },
  data () {
    return {
      form: {},
      results: '',
      transitionenter: 'in',
      modal: false,
      modaltransition: 'cero',
      submitting: false,
      submitted: false
    }
  },
  async mounted () {
    await wait(300)
    this.transitionenter = 'out'
  },
  computed: {
    ...mapState({
      crimes: s => s.crimes,
      content: s => s.content
    })
  },
  methods: {
    async send () {
      this.submitting = true
      try {
        this.results = await this.$axios.$get('/calculate', {
          params:
          {
            genero: this.form[0],
            e_civil: this.form[1],
            religion: this.form[2],
            edad: this.form[3],
            p106: this.form[4],
            p104_1: this.form[5],
            p109_1: this.form[6],
            p109_2: this.form[7],
            p109_3: this.form[8],
            p114: this.form[9],
            p117: this.form[10],
            p118: this.form[11],
            p122: this.form[12],
            p124: this.form[13],
            p126: this.form[14],
            p127: this.form[15],
            p128: this.form[16],
            p129: this.form[17],
            p133: this.form[18],
            p135: this.form[19],
            p136: this.form[20],
            p137: this.form[21],
            p139: this.form[22]
          }
        })
        this.$store.commit('SET_RESULTS', this.results)
        console.log(this.form)
        this.submitted = true
      } catch (e) {
        console.log(e.message)
      } finally {
        this.submitting = false
        window.scrollTo(0, 0)
        this.modal = true
        this.modaltransition = 'expand'
      }
    }
  }
}
function wait (n) {
  return new Promise(function (resolve, reject) {
    setTimeout(() => {
      resolve()
    }, n)
  })
}
</script>

<style lang="css" scoped>
.out{
  transition: all .5s;
  transform: translateX(-100%);
}
.in{
  transition: all .5s;
  transform: translateX(0);
}
.cero{
  transition: all .5s;
  transform: scale(0);
  position: absolute;
}
.expand{
  transition: all .5s;
  transform: scale(1);
  position: relative
}
.btn-send{
  transition: all .5s;
  border: 2px solid white;
  &:hover{
    color: #042c7b;
    background: white
  }
}

textarea:focus, input:focus, input[type]:focus, select:focus {
  border: 1px solid #042c7b
}

@media (max-width: 640px) {
  textarea:focus, input:focus, input[type]:focus, select:focus {
    border: 1px solid #042c7b
  }
}

</style>
