.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue text-white;
}
.btn-blue:hover {
  @apply bg-blue-dark;
}

.btn-grey {
  @apply bg-grey-light text-grey-darkest;
}
.btn-grey:hover {
  @apply bg-grey;
}
